.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
display: none;
z-index: 1;
}
.modal.active{
    display: flex;
    
}
.modal__content{

    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04),0px 4px 8px 0px rgba(0, 0, 0, 0.04),0px 16px 24px 0px rgba(0, 0, 0, 0.04),0px 24px 32px 0px rgba(0, 0, 0, 0.04);
    background: rgb(28, 28, 33);

}
.modal__styles{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__btn-exit{
    display: flex;
    cursor: pointer;
   justify-content: right;
}
.modal__indificator-text{
margin-top: 32px;
margin-bottom: 60px;
}
.modal__indificator-img{
    margin-bottom: 60px;
}
.modal__indificator-id{
    color: rgb(242, 242, 243);
  text-shadow: 0 0 8px 8px rgba(51, 51, 255, 0.25);
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5);

}

.detail__ingridients{
    display: flex;
    justify-content:space-between;
align-items: center;
}
.detail__ingridients-text{
    flex: 1;
    text-align: left;
}
.detail__ingridients-callories{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail__ingridients-callories-ul{
    display: flex;
   list-style: none;
   gap:20px ;
   align-items: center;
}
.detail__ingridients-callories-img{
   width: 480px;
height: 240px; 
}
.detail__ingridients-callories-text{
    display: flex;
    justify-content: center;
    align-items: center;
}