.entrance-block__content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
margin-top: 180px;
}
.entrance-block__content-register-text{
    color: rgb(76, 76, 255);
    background: none;
    border: none;
    font-size: 16px ;
}
.entrance-block__content-btn{
    margin-bottom: 80px;
}
.container__profile{
    display: flex;
    justify-content: center;
    gap: 60px;
align-items: center;
}
.container__profile-menu{
    list-style: none;
}