.burger__constructor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.constructor__content {
  overflow-y: auto;
  max-height: 584px;
  margin: 20px 0 20px 0;
  scrollbar-width: thin;
  scrollbar-color: #8585ad rgb(47, 47, 55);

  & > *:not(:first-child) {
    margin: 20px 0 20px 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.constructor__content::-webkit-scrollbar-button {
  display: none;
}
.constructor__menu-burger {
  position: relative;
  display: flex;
  align-items: center;

}
.color__div-item {
  background: rgb(28, 28, 33);
}

.constructor__btn {
  display: flex;
  justify-content: right;
  margin-top: 40px;
  gap: 20px;
}
.constructor__btn-price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.constructor__drag-menu {
  position: absolute;
  cursor: pointer;
}
